@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

$main-font: 'Cabin', sans-serif;
$bright: #F7F7F7;
$sub-bright: #f1f1f1;
$dark: #1d1d21;
$sub-color: #2e3d40;